.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  .member-question {
    display: flex;
    
    > span:last-child {
      cursor: pointer;
      margin-left: 10px;
      color: blue;
    }
  }
}